<body>
    <title>Details</title>
</body>
<html>
<ul>
    <li>Message: <%= message.message %>
    </li>
    <li>Author: <%= message.author %>
    </li>
    <li>Date Added: <%= message.date %>
    </li>
    <li><a href="/">Return</a></li>
</ul>

</html>