<body>
    <title>Details</title>
</body>
<html>
<ul>
    <li>Message: <%= message.text %>
    </li>
    <li>Author: <%= message.user %>
    </li>
    <li>Date Added: <%= message.added %>
    </li>
    <li><a href="/">Return</a></li>
</ul>

</html>