<h1>Add a New Message</h1>
<form method="POST" action="/new">
    <label for="author"">Author</label>
    <input type=" text" id="author" name="author"> <br>
        <label for="newMessage">Message: </label>
        <input type="text" id="newMessage" name="newMessage"><br>
        <input type="submit" value="Submit">
</form>