<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <a href="/new"">New Message</a>
    <ul>
        <% messages.forEach((message, i)=> { %>
            <%- include('./message', {message: message, index: i}); %>
                <% }); %>
    </ul>
</body>

</html>