<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <a href="/new"">New Message</a>
    <ul>
        <% messages.forEach((message)=> { %>
            <%- include('./message', {message: message, index: message.id}); %>
                <% }); %>
    </ul>
</body>

</html>